<app-message 
    *ngFor="let message of manager.getMessages();let i = index" 
    (deleted)="manager.deleteMessage(i)" 
    [author]="message.author" 
    [text]="message.text" 
    [title]="message.title"
></app-message>

TITLE: <input [(ngModel)]="title"/><br/>
AUTHOR: <input [(ngModel)]="author"/><br/>
TEXT: <textarea [(ngModel)]="text"></textarea><br/>
<button (click)="submitMessage(title, author, text)">SUBMIT</button>